body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.top {
    background-image: url("https://i.pinimg.com/736x/92/38/3e/92383e842d9985581a4bb4881fbbfc41.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color:rgb(0, 0, 0); 
}
.mid {
    background-color: rgb(0, 0, 0);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
}
.bot {
    background-image: url("https://i.pinimg.com/736x/84/a2/ab/84a2abf7b1934c0fe9d9a6ae62780c40.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color:white;
    height: 100%;
    margin:0 auto;
    transform: translate(50%,95%);
    bottom: 0px;
}